---
http_interactions:
- request:
    method: post
    uri: https://www.tmdn.org/tmview/api/search/results
    body:
      encoding: UTF-8
      string: '{"pageSize":50,"criteria":"E","territories":["FR","DE","IT","ES","GB","CL","US","AU"],"basicSearch":"Platanus","niceClass":["35","OR","45"],"fields":["ST13","markImageURI","tmName","tmOffice","applicationNumber","applicationDate","tradeMarkStatus","niceClass"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"tradeMarks":[{"ST13":"CL500000001509031","markImageURI":"https://www.tmdn.org/tmview/api/trademark/thumbnail/CL500000001509031","detailImageURI":"https://www.tmdn.org/tmview/api/trademark/image/CL500000001509031","tmName":"platanus
        ventures","tmOffice":"CL","applicationNumber":"1509031","tradeMarkStatus":"Filed","niceClass":[35,36,42],"applicationDate":"2022-06-30T12:00:00.000Z"},{"ST13":"DE503020100158468","markImageURI":"https://www.tmdn.org/tmview/api/trademark/thumbnail/DE503020100158468","detailImageURI":"https://www.tmdn.org/tmview/api/trademark/image/DE503020100158468","tmName":"PLATANUS
        SCHULE BERLIN","tmOffice":"DE","applicationNumber":"3020100158468","tradeMarkStatus":"Registered","niceClass":[16,35,41,43],"applicationDate":"2010-03-16T12:00:00.000Z"}],"page":1,"totalPages":1,"totalResults":2}'
  recorded_at: Mon, 27 Feb 2023 18:44:49 GMT
recorded_with: VCR 6.1.0
