---
http_interactions:
- request:
    method: post
    uri: https://www.tmdn.org/tmview/api/search/results
    body:
      encoding: UTF-8
      string: '{"pageSize":50,"criteria":"F","territories":["CL"],"basicSearch":"Platanus","niceClass":["35","OR","45"],"fields":["ST13","markImageURI","tmName","tmOffice","applicationNumber","applicationDate","tradeMarkStatus","niceClass"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"tradeMarks":[{"ST13":"CL500000001509031","markImageURI":"https://www.tmdn.org/tmview/api/trademark/thumbnail/CL500000001509031","detailImageURI":"https://www.tmdn.org/tmview/api/trademark/image/CL500000001509031","tmName":"platanus
        ventures","tmOffice":"CL","applicationNumber":"1509031","tradeMarkStatus":"Filed","niceClass":[35,36,42],"applicationDate":"2022-06-30T12:00:00.000Z"}],"page":1,"totalPages":1,"totalResults":1}'
  recorded_at: Mon, 13 Mar 2023 17:32:10 GMT
recorded_with: VCR 6.1.0
